# المفاتيح السرية
SECRET_KEY=your-super-secret-key-change-this
DATABASE_URL=postgresql://user:password@host:port/database

# بيانات Google Drive
GOOGLE_DRIVE_FOLDER_ID=your-folder-id-here

# بيانات المستخدم الأولية (هتتعمل تلقائياً عند أول تشغيل)
MEG_USERNAME=meg
MEG_PASSWORD=262004
ADMIN_USERNAME=f
ADMIN_PASSWORD=*1997#
MARIAM_USERNAME=mariam
MARIAM_PASSWORD=#mariam2004
REHAB_USERNAME=rehab
REHAB_PASSWORD=rehab2004#
MOHAMED_USERNAME=mohamed
MOHAMED_PASSWORD=mohamed123#
AHMED_USERNAME=a
AHMED_PASSWORD=#123456#
EID_USERNAME=eid
EID_PASSWORD=eid123#
ABDO_USERNAME=abdo
ABDO_PASSWORD=abdo123#

# إعدادات Render (اختياري)
RENDER_API_KEY=rnd_MreUfrPAN2cvUvpgCnXaOfivqgl1
